:root {
  --black: rgb(19, 17, 17);
}

.montserrat {
  font-family: 'Montserrat';
}

.inter {
  font-family: 'Inter';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  color: var(--black);
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: whitesmoke;
  text-shadow: 2px 2px 8px rgb(12, 11, 11);
}

h3 {
  font-size: 2rem;
  background-color: rgb(58, 53, 53);
  color: whitesmoke;
}

ul {
  list-style: none;
}

button, .submit {
  transition: background-color .8s, color .8s;
  border-radius: 1rem;
  padding: .3rem .8rem;
}

button:hover, .submit:hover {
  background-color: var(--black);
  color: whitesmoke;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
  }  
} 