.contact-container {
    background-image: linear-gradient(black, rgb(37, 54, 38));
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 7rem;
}

.contact {
    text-align: center;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
    width: 50%;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-content: space-between;
    background-color: rgb(114, 201, 114);
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

.form > * {
    margin-top: 1rem;
}

.form input, .form textarea {
    width: 50%;
    height: 2rem;
}

.form textarea {
    height: 10rem;
    padding: 0 1rem;
    font-size: 1.1rem;
    width: 75%;
}

.submit {
    margin-top: 2rem;
    font-size: 1.2rem;
    width: 20% !important;
    background-color: lightgray;
    cursor: pointer;
    border: 1px solid black;
}

@media (max-width: 500px) {
    .contact {
        width: 90%;
    }
}