.social-links {
    position: fixed; 
    top: 0;
    margin-top: 15rem;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.social-link {
    position: absolute;
    left: -5rem;
    transition: .5s;
    display: flex;
    color: whitesmoke;
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 0 5px;
}

.social-link:hover {
    left: 0;
}

@media only screen and (max-width: 500px) {
    .social-links {
        position: absolute;
        gap: 3rem;
    }

    .social-link {
        width: auto;
        left: 0;
        font-size: 1rem;
        padding: 0;
    }

    .social-link p {
        display: none;
    }

    .social-icon {
        width: 2.5rem !important;
    }
}