.social-links {
    position: fixed; 
    top: 0;
    margin-top: 15rem;
    left: 0;
    background-color: rgb(175, 216, 209);
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.social-link {
    position: absolute;
    left: -5rem;
    transition: .5s;
    display: flex;
    background-color: var(--black);
    color: lightgreen;
    width: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: Roboto;
    padding: 0 5px;
}

.social-link:hover {
    left: 0;
}